
/*Top-buttons oben rechts*/
.top-buttons {
  top: 1.25rem;
  right: 1.25rem;
  position: fixed;
  display: flex;
  gap:0.625rem;
  z-index: 10;
}


/* old style of lösch und bearbeiten-butten
.edit-button, .delete-button{
    padding: 0.625rem 1.25rem;
    border: 2px solid black;
    background-color:#441a93;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    transition: background 0.2s ease; /*hover effect etwas langsamer*}*/

/*style angepasst*/
.edit-button, .delete-button{

    padding: 0.625rem 1.25rem;

}


.delete-button{
    color:  var(--warning-color);
}
.edit-button:hover{
    background-color: var(--tertiary-hover);
}
.delete-button:hover{
    background-color: var(--warning-hover);
}
/*Ende des Bereichs der Top-Buttons */

/*das Pop-up-Fenster */
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  padding: 1.875rem;
  text-align: center;
  max-width: 25rem;
  width: 90%;
  cursor: default;
  /*
  background-color: var(--main-color);

  border-radius: 16px;
  
  color: rgb(255, 255, 255);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  border: 2px solid rgba(255, 255, 255, 0.15);
  */
 line-height: 1;
}

.popup-box:hover{
  background: rgba(255, 255, 255, 0.08);
}


.popup-box h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.popup-buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.popup-cancel, .popup-confirm, .popup-update-confirm{
  padding: 0.75rem 1.5rem;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color:black;
  background-color: var(--tertiary-color);;
  font-size: 1rem;
  transition: background 0.2s ease;

}
.popup-confirm {
  background-color: rgb(198, 29, 29);
  color: black;
}

.popup-confirm:hover {
    background-color:var(--warning-hover); ;
}
.popup-cancel:hover {
    background-color: var(--tertiary-hover);
}

.popup-update-confirm:hover {
  background-color: var(--main-color);
}
/*Ende des popup-Fenster Bereichs */