.searchbox{
  display: flex;
  justify-content: center;
}

.glass-box {
  width: clamp(200px, 30vw, 400px);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  padding: 1em;
  
}

.glass-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  color: var(--faint-color);
    font-family: var(--secondary-font), sans-serif; 
  font-size: clamp(0.5rem, 100%, 2rem);

}

.glass-box input::placeholder {
  color: var(--faint-color);
    font-family: var(--secondary-font), sans-serif; 
  font-size: clamp(0.5rem, 100%, 2rem);
}

.home {
  background-color: var(--bg);
   text-align: center;
 /* border-inline: 1px solid var(--border);*/
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.container {
  display: flex;
  justify-content: center;
  
}
.container-sets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  gap: 1rem;
  width: 100%;
 box-sizing: border-box;


}

.noContent {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  width: 20rem;
  height: 12rem;

  border-radius: 30px;
  margin-top: 2rem;
}

.noContent h1{
  display: flex;
justify-content: center;

  
}
.sets{
  padding-top: 7rem;
}
/*

.glass {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

}
   */
.glass-btn-delete {
  position: fixed;
  left: 4rem;
  height: 2rem;
  bottom: 2rem;
  font-family: var(--secondary-font), sans-serif; 
  color: var(--warning-color);
  height:auto;
  padding: 1rem;
}
.floating-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-size: 4rem;
}

