.searchbox{
  display: flex;
  justify-content: center;
  border-radius: 20%;
  padding-top:1rem;

}
.glass-box {
  width: 280px;
  padding:  6px 12px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.glass-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 14px;
}

.glass-box input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.home {
  background-color: var(--bg);
   text-align: center;
 /* border-inline: 1px solid var(--border);*/
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header{
  
font-size: 2rem;
  font-family: "inter", sans-serif;
  font-weight: 1000;
}
.container {
  display: flex;
  justify-content: center;
  
}
.container-sets {
  display: flex;
  flex-direction: column;
 align-items: center;
  padding-top: 2rem;
  
}
.noContent {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  width: 20rem;
  height: 12rem;

  border-radius: 30px;
  margin-top: 2rem;
}

.noContent h1{
  font-size: 1.5rem;
  display: flex;
justify-content: center;

  
}
.sets{
  padding-top: 7rem;
}


.glass {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
.glass-btn-delete {
  width: 50%;
  
  font-size: 1.3rem;
 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
.floating-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  cursor: pointer;
}

