/*Temporäre CSS-Datei für Entwicklung. Nachher evtl in mehrere Dateien aufspalten*/
/* Styling für Elemente auf Learning-Seite*/

/*Styling für beide Karten*/
.card{
    padding: 5vh;
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 20vh;
    padding: 10px;
    border: 5px solid black;
    color: black;
}

/*Container für Karten*/
.cardsContainer{
    position: fixed;
    top: 100px;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
    
/*Styling für einzelne Buttons*/
#LearnedBtn{
    background-color: rgb(29, 198, 43);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
}

#TryAgainBtn{
    background-color: rgb(198, 29, 29);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
}

/*Container für Buttons*/
.buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  padding: 10px;
}

